// Variables

@jazz-pink: #ff0086;
@jazz-blue: #00b4ff;
@jazz-black: #1a1917;

@brand-primary: @jazz-pink;
@brand-success: @jazz-blue;
@brand-danger: #e74c3c;
@gray-darkest: #222;
@gray: #777;
@gray-lighter: #f7f7f7;
@placeholder-text: #bbbbbb;
@body-bg: @jazz-black;